.fullSlider {
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  right: 0;
  top: 40px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 50px;
  cursor: pointer;
}
